<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petpicker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetPicker">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key"/>

        <activity
            android:name=".About"
            android:exported="false" />
        <activity android:name=".Profile" />
        <activity android:name=".Option1" />
        <activity android:name=".Option2" />
        <activity android:name=".Option3" />
        <activity android:name=".Option4" />
        <activity android:name=".Option5" />
        <activity android:name=".Options" />
        <activity android:name=".Map1" />
        <activity android:name=".Map2" />
        <activity android:name=".Map3" />
        <activity android:name=".Map4" />
        <activity android:name=".Map5" />
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>